
.hero{
	margin-top:-90px!important;
}   
	
	
	
	/*<600 height=500px
	betweeb 601 and 1000 h=800
	
	>800 h=960*/


@media (max-width: 700px) {
.hid500 {
   display: none;
  }
}

@media (max-width: 320px) {
 .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 600px !important;
		background-size:cover;
		max-width: 100%;
		
	}
}

@media screen and (min-width:1600px) and (max-width:2277px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 1100px !important;
		background-size:cover;
		max-width: 100%;
		
	}
}

@media screen and (min-width:900px) and (max-width:1600px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 850px !important;
		background-size:cover;
		max-width: 100%;
		
	}
}

@media screen and (min-width:321px) and (max-width:400px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 600px !important;
		background-size:cover;
		max-width: 100%;
		
	}
}

@media screen and (max-width:2000px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		/*height: 1300px !important;*/
		background-size:cover;
		max-width: 100%;
		
	}
}



@media screen and (min-width:400px) and (max-width:900px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 850px !important;
		/* display: block; */
		max-width: 100%;
		
	}
}

@media screen and (min-width:0px) and (max-width:399px){
   .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
		height: 850px !important;
		/* display: block; */
		max-width: 100%;
		
	}
}



